body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #EFE2BA;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 50px 20px;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
